body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .calculator {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 300px;
    border: 2px solid #444;
  }
  
  .screen {
    grid-column: span 4;
    background-color: #222;
    border-radius: 5px;
    padding: 20px;
    font-size: 24px;
    text-align: right;
    color: #fff;
    margin-bottom: 10px;
    grid-row: 1;
  }
  
  .btn {
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn:hover {
    background-color: #d1d1d1;
  }
  
  #equals {
    background-color: #3498db;
    color: #fff;
  }
  
  #equals:hover {
    background-color: #2980b9;
  }
  
  #zero {
    grid-column: span 2;
  }
  
  #clear, #backspace {
    background-color: #8e1818;
    color: #fff;
  }
  
  #clear:hover, #backspace:hover {
    background-color: #4f0d0d;
  }
  
  #divide, #multiply, #subtract, #add {
    background-color: #b1b9c1;
    color: #fff;
  }
  
  #divide:hover, #multiply:hover, #subtract:hover, #add:hover {
    background-color: #36535f;
  }
  